$titleSize: 90px;
$subtitleSize: calc($titleSize / 1.8);
$tinyTitleSize: calc($titleSize / 2.25);

$bp1: 1100px;
$bp1_titleSize: 70px;
$bp1_subtitleSize: calc($bp1_titleSize / 1.8);
$bp1_tinyTitleSize: calc($bp1_titleSize / 2.25);

$bp2: 836px;
$bp2_titleSize: 60px;
$bp2_subtitleSize: calc($bp2_titleSize / 1.8);
$bp2_tinyTitleSize: calc($bp2_titleSize / 2.25);

$bp3: 572px;
$bp3_titleSize: 37px;
$bp3_subtitleSize: calc($bp3_titleSize / 1.8);
$bp3_tinyTitleSize: calc($bp3_titleSize / 2.25);

.homepage {
  position: relative;
  display: flex;

  .homepage-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: fit-content;
    width: 95%;
    margin: auto;
    overflow: hidden;

    .texte {
      display: flex;
      flex-direction: column;

      & > * {
        transition-duration: $colorThemeToggleDuration;
        margin: 0;
        display: inline-block;
        width: fit-content;
      }

      h1 {
        font-size: $titleSize;
        color: $primaryAlt;
        text-shadow: 2px 2px 2px $secondaryAlt,
          3px 3px 5px rgba($color: #000000, $alpha: 0.5);
        font-style: italic;
      }

      h2 {
        font-size: $subtitleSize;
        font-style: italic;
      }

      .next-page {
        font-size: $tinyTitleSize;
        animation-name: text-flash;
        animation-iteration-count: infinite;
        animation-duration: 2s;

        &:hover {
          animation: none;
        }
      }
    }
  }

  &.dark {
    .homepage-content {
      h1 {
        color: $secondaryAlt;
        text-shadow: 2px 2px 2px $primaryAlt,
          3px 3px 5px rgba($color: #000000, $alpha: 0.5);
      }
    }
  }

  @media (max-width: $bp1) {
    .homepage-content {
      .texte {
        h1 {
          font-size: $bp1_titleSize;
        }

        h2 {
          font-size: $bp1_subtitleSize;
        }

        .next-page {
          font-size: $bp1_tinyTitleSize;
        }
      }
    }
  }

  @media (max-width: $bp2) {
    .homepage-content {
      flex-direction: column;
      .logo {
        * {
          width: 150px;
          height: auto;
        }
      }
      .texte {
        display: flex;
        align-items: center;
        text-align: center;

        h1 {
          font-size: $bp2_titleSize;
        }

        h2 {
          font-size: $bp2_subtitleSize;
        }

        .next-page {
          font-size: $bp2_tinyTitleSize;
        }
      }
    }
  }

  @media (max-width: $bp3) {
    .homepage-content {
      flex-direction: column;
      .logo {
        * {
          width: 150px;
          height: auto;
        }
      }
      .texte {
        h1 {
          font-size: $bp3_titleSize;
        }

        h2 {
          font-size: $bp3_subtitleSize;
        }

        .next-page {
          font-size: $bp3_tinyTitleSize;
        }
      }
    }
  }
}
