$primarycolour: $secondary;

@mixin text3d(
  $primary,
  $depth: 5,
  $shadowsteps: 5,
  $shadowincrementer: 3px,
  $shadowopacity: 0.5,
  $primaryshadowcolour: #000,
  $lighting: 2
) {
  $predefinedShadows: (
    0 0 5px rgba($primaryshadowcolour, 0.05),
    0 -1px 3px rgba($primaryshadowcolour, 0.2),
    0 3px 5px rgba($primaryshadowcolour, 0.2)
  );
  $value: ();
  @for $i from 1 through $depth {
    $num: $i + px;
    $hueadjust: $i;
    $hueadjust: -($i * 2 + $depth - 10) * 1%;
    $colour: adjust-color($primary, $lightness: $hueadjust);
    $theShadow: 0 $num 0 $colour;
    $value: append($value, $theShadow, comma);
  }

  @for $i from 1 through $shadowsteps {
    @if ($i >= length($predefinedShadows)) {
      $dist: $i * $shadowincrementer;
      $value: append(
        $value,
        0 $dist $dist rgba($primaryshadowcolour, $shadowopacity)
      );
    } @else {
      $value: append($value, nth($predefinedShadows, $i));
    }
  }

  text-shadow: $value;
}

.text-3d {
  @include text3d(
    adjust-color($primarycolour, $lightness: -8%),
    $depth: 8,
    $primaryshadowcolour:
      adjust-color($primarycolour, $lightness: -10%, $saturation: +20%),
    $shadowopacity: 0.3
  );
}

.shadowed {
  filter: drop-shadow(20px 20px 15px rgba(0, 0, 0, 0.25));
}

.text-shadowed {
  text-shadow: 5px 5px 7px rgba($color: #000000, $alpha: 0.5);
}

.hover-effect-1 {
  position: relative;
  &:after,
  &:before {
    content: "";
    position: absolute;
    display: block;
    border: 0px solid transparent;
    width: 0%;
    height: 20%;
    transition: width 0.3s ease, border-color 0.3s ease;
  }

  &:after {
    top: 0;
    left: 0;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
  }

  &:before {
    right: 0;
    bottom: 0;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
  }

  &:hover {
    &::before,
    &::after {
      border-color: $secondaryAlt;
    }
  }
}

.hover-effect-underline {
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 0%;
    transition: width 0.3s ease;
  }

  &:hover {
    &::after {
      width: calc(100% - 2px);
      height: 1px;
      border-bottom: 1px solid $secondary;
    }
  }
}
