$primary: #0b3142;
$primaryDark: #092937;
$secondary: #F6FCFF;
$accent: #E1BB80;
$accentDark: #BD9F70;
$bp_tablet : 768px;
$bp_tiny_phone : 400px;

:export {
  primary: $primary;
  primary_dark: $primaryDark;
  secondary: $secondary;
  accent: $accent;
  accent_dark: $accentDark;
}
