.projects {
    .project {
        & > div {
            transition: 0.2s;
            opacity: 0;
        }
        
        &:hover {
            img {
                scale: 1.1;
            }
            
            & > div {
                opacity: 1;
            }
        }
    }
}